{% extends 'base.html.twig' %}
{% form_theme form '/bootstrap_3_layout.html.twig' %}

{% block content %}

    <div class="card">
        <div class="header">

    <h1>Inscription sur le site</h1>

    </div>

        <div class="body">
    {{  form_start(form) }}
    {{ form_row(form.username,{'label': 'Nom d\'utilisateur '} ) }}
    {{ form_row(form.firstName,{'label': 'Prénom '} ) }}
    {{ form_row(form.lastName,{'label': 'Nom'}) }}
    {{ form_row(form.email,{'label': 'Email'}) }}
    {{ form_row(form.password,{'label': 'Mot de Passe '}) }}
    {{  form_row(form.confirm_password,{'label': 'Confirmer le Mot de Passe '}) }}


    <button type="submit" class="btn btn-success"> Inscription </button>
    {{ form_end(form) }}
        </div>

    </div>

{% endblock %}