{% extends 'base.html.twig' %}

{% block content %}
    <h1>Inscription sur le site</h1>

    {{  form_start(form) }}
    {{ form_row(form.username,{'label': 'Nom d\'utilisateur ', 'attr':{'placeholder':'Nom d\'utilisateur'}} ) }}
    {{ form_row(form.firstName,{'label': 'Prénom ', 'attr':{'placeholder':'Prénom'}} ) }}
    {{ form_row(form.lastName,{'label': 'Nom', 'attr':{'placeholder':'Nom'}}) }}
    {{ form_row(form.email,{'label': 'Email', 'attr':{'placeholder':'Email'}}) }}
    {{ form_row(form.roles,{'label': 'Roles ', 'attr':{'placeholder':'Roles'}}) }}
    {{ form_row(form.password,{'label': 'Mot de Passe ', 'attr':{'placeholder':'Mot de Passe'}}) }}
    {{  form_row(form.confirm_password,{'label': 'Confirmer le Mot de Passe ', 'attr':{'placeholder':'Répétez votre Mot de Passe'}}) }}


    <button type="submit" class="btn btn-success"> Inscription </button>
    {{ form_end(form) }}

{% endblock %}